body {
  margin: 0;
}

.section {
  height: 130vh;
}

#sun {
  transition: transform 0.5s ease-out 0s;
}

.portText {
  color: red;
}

#portText:hover {
  color: orange;
}

#canvas {
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(255, 195, 89, 1) 0%,
    rgba(255, 119, 59, 1) 100%
  );
}

.textInner {
  transition: transform 0.5s ease-out 0s;
}
