body {
  margin: 0;
}

.section {
  height: 130vh;
}

#sun {
  transition: transform 3s cubic-bezier(0.37, 0.74, 0.77, 1);
}

#canvas {
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(255, 195, 89, 1) 0%,
    rgba(255, 119, 59, 1) 100%
  );
}

.textInner {
  transition: transform 0.5s cubic-bezier(0.37, 0.74, 0.77, 1);
}
